<!-- 📂Views📂Author 📑Details.cshtm-->

@model LibraryManagement.ViewModels.AuthorViewModel

<h2>Author Details</h2>

<h1>@Model.AuthorName</h1>
<p>AuthorID   : @Model.AuthorId</p>
<p>AuthorName : @Model.AuthorName</p>










<p class=title>
    <a asp-action="Index" class="BackLink">Back to Author List</a>
</p>