<!-- 📂Views📂Branch 📑Details.cshtm-->

@model LibraryManagement.ViewModels.BranchViewModel

<h2>Branch Details</h2>

<h1>@Model.BranchName</h1>
<p>Branch ID   : @Model.BranchId</p>
<p>Branch Name : @Model.BranchName</p>










<p class=title>
    <a asp-action="Index" class="BackLink">Back to Branch List</a>
</p>