<!-- 📂Views📂Customer 📑Details.cshtm-->

@model LibraryManagement.ViewModels.CustomerViewModel

<h2>Customer Details</h2>

<h1>@Model.CustomerName</h1>
<p>Customer ID   : @Model.CustomerId</p>
<p>Customer Name : @Model.CustomerName</p>










<p class=title>
    <a asp-action="Index" class="BackLink">Back to Customer List</a>
</p>